{
  "extends": "eslint-config-egg",
  "rules":{
    "quotes": [1, "single"],
    "no-var": 0,
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "semi": [1, "always"],
    "linebreak-style": [0, "windows"],
    "comma-spacing": 0,
    "eol-last": 0,
    "arrow-parens": 0,
    "object-shorthand":0,
    "key-spacing": [0, { "beforeColon": false, "afterColon": true }],
    "prefer-const":0,
    "no-trailing-spaces":1,
    "spaced-comment":0,
    "no-else-return":1,
    "object-curly-spacing": [0, "never"]
  }
}
